
{% extends "layout.html" %}
{% block content %}
    <header class="main-header-top bg-dark">
        <div class="d-flex flex-row-reverse bd-highlight text-light">
            <div class="p-2 bd-highlight">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle text-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" type="button" href="logout">Wyloguj</a>
                    </div>
                  </div>
            </div>
            <div class="pt-2 bd-highlight mt-1 mr-0">Witaj, {{ session.username }}</div>
          </div>
    </header>
    <div class="container-main">
        <h2 class="m-3 text-dark">Dashboard</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card server-card shadow-sm p-3">
                        <span class="font-weight-bold">Playtale | Serwer 1</span>
                        <span id="stats"class="server-card-status font-weight-normal p-1">
                            0/0
                        </span>
                        <span id="status" class="badge badge-secondary w-25 p-2">
                            Offline
                        </span>
                        <div class="d-flex bd-highlight w-100">
                         <form method="POST" action="">
                         {{ form1.hidden_tag() }}
                         {{ form1.submit1(class="btn mt-2 btn btn-success w-100 pl-2 pr-2 flex-fill bd-highlight") }}
                        </form>
                        <form method="POST" action="" class="ml-1">
                         {{ form2.hidden_tag() }}
                         {{ form2.submit2(class="btn mt-2 btn btn-danger w-100 pl-2 pr-2 flex-fill bd-highlight") }}
                        </form>
                        </div>
                        <form method="POST" action="">
                         {{ form3.hidden_tag() }}
                         {{ form3.submit3(class="btn btn-dark mt-2 mt-2 w-100") }}
                        </form>
                    </div>
                  </div>

              <div class="col-sm">
                <div class="card server-card shadow-sm p-3">
                    <span class="font-weight-bold">Serwer x</span>
                    <span class="server-card-status font-weight-normal">0/0</span>
                    <span class="badge badge-secondary w-25 p-2">Offline</span>
                    <button type="button" class="btn btn-success mt-2">Włącz serwer</button>
                    <button type="button" class="btn btn-dark mt-2">Konsola</button>
                </div>
              </div>
              <div class="col-sm">
                <div class="card server-card shadow-sm p-3">
                    <span class="font-weight-bold">Serwer x</span>
                    <span class="server-card-status font-weight-normal">0/0</span>
                    <span class="badge badge-secondary w-25 p-2">Offline</span>
                    <button type="button" class="btn btn-success mt-2">Włącz serwer</button>
                    <button type="button" class="btn btn-dark mt-2">Konsola</button>
                </div>
              </div>
            </div>
          </div>
    </div>

 {% endblock %}
